html a{
	color: #000000;
	text-decoration: none;
	transition: all 50ms linear;
	transition-delay: 50ms; /* delays for 1 second */
	-webkit-transition-delay: 50ms; /* for Safari & Chrome */
}
html a:hover{
	text-decoration: none;
	color: #f06292;
}
body{
	margin-bottom: 50px;
}
footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    width: 100%;
}

.title-div{
	margin-top: 100px;
	text-align: center;
	font-size: 90px;
	letter-spacing: 10px;
	font-family: 'News Cycle', sans-serif;
	font-variant: small-caps;
}
.subtitle-div{
	margin-bottom: 40px;
	text-align: center;
	font-size: 30px;
	letter-spacing: 5px;
	font-family: 'News Cycle', sans-serif;
}
.post-title-div{
	margin-top: 80px;
	text-align: center;
	font-size: 85px;
	letter-spacing: 5px;
	border-bottom: solid;
	border-width: 1.5px;
	font-family: 'News Cycle', sans-serif;
	font-variant: small-caps;
}

.image-border{
	border-top: solid;
}
.title-div a{
	text-decoration: none;
	color: #000000;
}
.title-div a:hover{
	text-decoration: none;
	color: #000000;
}
.post-title-div a{
	text-decoration: none;
	color: #000000;
}
.post-title-div a:hover{
	text-decoration: none;
	color: #000000;
}
.blog-post{
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: solid;
	border-width: 2px;
}
.blog-post date{
	text-transform: uppercase;
	background-color: "white";
	font-size: 20px;
}
.blog-post a{
	font-size: 60px;
	font-family: 'Rokkitt', serif;
	font-variant: small-caps;
}
.blog-post-socials {
	margin-top: 10px;
	text-align: left !important;
}
.fb_iframe_widget span{
	vertical-align:inherit !important;
}
.blog-post-container{
	margin: 10px;
	text-align:center;
}
.blog-post-section{
	margin-top:20px;
}
.sidebar{
	margin-top: 20px;
}
.sidebar{
	font-size: 25px;
	text-align:center;
	text-transform: uppercase;
}
.sidebar a{
	font-size: 20px;
	text-align:center;
	text-transform: none;
}

.blog-text {
	margin-top: 25px;
	margin-bottom: 15px;
}
.blog-text p{
	margin-top: 10px;
	text-align: justify;
	font-size: 23px;
	font-family: 'Rokkitt', serif;
}
.blog-text a{
	font-weight: bold;
}
.blog-text a img{
	margin-top: 10px;
}

.blog-text img{
	display: block;
    margin: auto;
}
.blog-text .center p{
	text-align: center !important;
}

.line-break-top {
	border-top: solid;
	border-width: 1.5px;
}
.line-break-bottom {
	border-bottom: solid;
	border-width: 1.5px;
}

.slide-inside {
	padding-left: 0 !important;
    padding-right: 0 !important;
	height: 600px;
}
.slide-image{
	position: absolute;
	display: block;
	width: 100%;
	height: 600px;
	background-repeat-x;
	background-repeat-y;
	background-size: cover;
	background-position-x: 50%;
	background-position-y: 50%;
	background-position:center center;
	color:black;
	z-index: 1000;
}
.navbar-default {
	box-shadow: 2px 2px 2px #f4f4f4;
	font-family: 'Rokkitt', serif;
	font-variant: small-caps;
	letter-spacing: 1px;
	font-size: 25px;
    background:#FFFFFF;
    opacity: 0.8;          
    filter:(opacity=80);
}
/* Branding */
.navbar-default .navbar-brand {
	font-size: 28px;
	letter-spacing: 3px;
	font-family: 'News Cycle', sans-serif;
	font-variant: small-caps;
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #f06292;
}
.navbar-default .navbar-nav > .nav-item > .nav-link:hover{
    color: #f06292;
}


#firstImage{
	background-image:url(../img/example1.jpg);
}
#secondImage{
	background-image:url(../img/example2.jpg);
}
#thirdImage{
	background-image:url(../img/example3.jpg);
}

@media screen and (max-width: 1300px) {

}

@media screen and (max-width: 991px) {
	.navbar-default {
		font-size: 22px;

	}
	.navbar-default .navbar-brand {
		font-size: 25px;
	}
    .title-div{
    	margin-top: 60px;
		font-size: 40px;
		letter-spacing: 5px;
	}
	.post-title-div{
    	margin-top: 70px;
		font-size: 55px;
		letter-spacing: 3px;
	}

	.subtitle-div{
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 15px;
		text-align: center;
		font-size: 15px;
		letter-spacing: 0px;
	}
	.slide-inside {
		height: 400px;
	}
	.slide-image {
		height: 400px;
	}
	.blog-post{
		margin-bottom: 30px;
	}
	#cady-brand{
		display:none;
	}
}